extend ./layout.pug
block error
  h1='Unknown error'
  p='There has been an unexpected error communicating with JIRA. We're really sorry.'
  p='If the problem persists, contact'
    a(href='')='digitaaliset.palvelut@roihu2016.fi.'
