html
  head
    title='Mobile JIRA'
  body
    h1='Login'
    form(method='post', action='/login')
      div
        input(name='username', placeholder='Username')
      div
        input(name='password', type='password', placeholder='Password')
      div
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='submit', value='Log in')
